<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764269939915-8euodqvi89mb026b989sqecuj22kvg4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764269939915-8euodqvi89mb026b989sqecuj22kvg4r</string>
	<key>API_KEY</key>
	<string>AIzaSyC8bUnFxtSUcj9wTntW14m6tX-Y2J4Rsuc</string>
	<key>GCM_SENDER_ID</key>
	<string>764269939915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edenTest</string>
	<key>PROJECT_ID</key>
	<string>eden-eab1d</string>
	<key>STORAGE_BUCKET</key>
	<string>eden-eab1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764269939915:ios:ec3e6df288291b21385f4e</string>
	<key>DATABASE_URL</key>
	<string>https://eden-eab1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>